<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeportLife"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Product.Activity.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".Supplier.Activity.SupplierActivity"
            android:exported="false" />
        <activity
            android:name=".Menu.Account.Activity.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".Invoice.Activity.InvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".Menu.Activity.DieuKhoan"
            android:exported="false" />
        <activity
            android:name=".Menu.Activity.Goi_Hotline"
            android:exported="false" />
        <activity
            android:name=".Menu.Activity.CaiDat"
            android:exported="false" />
        <activity
            android:name=".Menu.Activity.TroGiupVaPhanHoi"
            android:exported="false" />
        <activity
            android:name=".Menu.Activity.BaoLoi"
            android:exported="false" />
        <activity
            android:name=".Menu.Activity.VeChungToi"
            android:exported="false"
            android:theme="@style/Theme.DeportLife" />
        <activity
            android:name=".Menu.Activity.ThongTinGianHang"
            android:exported="false" />
        <activity
            android:name=".Product.ProductFilterActivity"
            android:exported="false"
            android:theme="@style/Theme.DeportLife" />
        <activity
            android:name=".ForgotPassword.ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ForgotPassword.VerifyOtpActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ForgotPassword.ConfirmOtpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Category.CategoryActivity"
            android:exported="true" />
        <activity
            android:name=".ForgotPassword.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Login.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Splash.SplashActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>